/* Basic form styles */
*{
    box-sizing: border-box;
    margin: 0%;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-body);
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background-color: var(--color-light-bg);
    color: var(--color-primary);
    padding: 1.25rem;
    border-radius: 1.25rem;

    @media (--medium-viewport) {
        padding: 1.5rem;
        color: var(--color-light-coral);
        background-color: var(--bg-form-medium-viewport);
    }
    @media (--small-viewport) {
        padding: 1rem;
        color: var(--color-light-text);
        background-color: var(--bg-form-small-viewport);
    }

    &__field{
        margin-bottom: 1rem;
    }

    &__label{
        display: block;
        margin-bottom: 0.5rem;

        @media (--small-viewport) {
            font-size: 0.9rem;
        }
    }

    &__input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid var(--color-Gainsboro);
    
        @media (--medium-viewport) {
          padding: 0.6rem;
        }
    
        @media (--small-viewport) {
          font-size: 0.9rem;
        }
      }

    &__submit{
        background-color: var(--color-secondary);
        color: var(--color-white);
        padding: 0.75rem 1.5rem;
        border: none;
        cursor: pointer;

        &:hover{
            background-color: var(--bg-submit-hover);

        }
        @media (--medium-viewport) {
            padding: 0.6rem 1rem;
        }
      
        @media (--small-viewport) {
            background-color: var(--bg-success-small);
            color: var(--color-light-text);
            padding: 0.5rem 0.75rem;
            font-size: 0.9rem;

            &:hover{
                background-color: var(--bg-submit-small-hover);
            }
        }
    }

}

.success-message{
    background-color: var(--bg-success);
    padding: 10px;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--color-success);
}
